/* To remove a background using css -----------*/
.class{
  background: transparent;
}

/* Tricky selection using css ---------*/

input[name='vehicleClasses[]'] {
  width: 100px;
  transition: ease-in-out, width .35s ease-in-out;
}

/* Selecting last 9 elements only */
.blog-card:nth-last-child(-n+9) {
  display: block;
}

/* Fillup a hre tag to use as a divider */
hr{
  height: 2px;
  background-color: #ccc;
  border: 1px solid #ccc;
}
