/* To remove a background using css -----------*/
.class {
  background: transparent;
}

/* Tricky selection using css ---------*/

input[name='vehicleClasses[]'] {
  width: 100px;
  transition: ease-in-out, width .35s ease-in-out;
}

/* Selecting last 9 elements only */
.blog-card:nth-last-child(-n+9) {
  display: block;
}

/* Fillup a hre tag to use as a divider */
hr {
  height: 2px;
  background-color: #ccc;
  border: 1px solid #ccc;
}

/* Control dotted border */
border {
  background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 5px 1px;
  background-repeat: repeat-x;
}

/* Control horizontal scroller */
div {
  width: 400px;
  overflow-x: auto;
  white-space: nowrap;
}

div::-webkit-scrollbar {
  width: 1em;
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00bd86;
  outline: 2px solid slategrey;
}

div::-webkit-scrollbar:vertical {
  display: none;
}

/* Hover one element change other under the same parent */
#a:hover~#b {
  background: #ccc
}